<%- include('../../block/header') %>

<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center mb-4">
        <a href="<%= APP_URL %>mahasiswa" class="btn btn-sm btn-primary shadow-sm">Kembali</a>
    </div>
    <div class="d-sm-flex align-items-center mb-4">
        <h1 class="h3 text-gray-800">Form Tambah Mahasiswa</h1>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <form id="submit_mahasiswa">
                <div class="form-group row">
                    <label for="nama_dosen" class="col-sm-3 col-form-label">Nama Mahasiswa</label>
                    <div class="col-sm-9">
                        <input id="nama_dosen" name="nama_mahasiswa" type="text" class="form-control"
                               placeholder="Masukkan Nama Mahasiswa ..." required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nomor_induk_mahasiswa" class="col-sm-3 col-form-label">Nomor Induk Mahasiswa</label>
                    <div class="col-sm-9">
                        <input id="nomor_induk_mahasiswa" name="nomor_induk_mahasiswa" type="text"
                               class="form-control"
                               placeholder="Masukkan Nomor Induk Mahasiswa ..." required>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Simpan</button>
            </form>
        </div>
    </div>
</div>

<%- include('../../block/footer') %>